<div class="form-inline mt-3" style="justify-content: center;">
  <input
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search Users"
    aria-label="Search"
    (keyup)="searchUser(user.value,$event)"
    #user
  />
  <button
    class="btn btn-success my-2 my-sm-0"
    (click)="searchUser(user.value,$event)"
  >
    Search
  </button>
</div>
  <div class="container p-3">
    <div class="col mt-5">
      <div class="card border-info shadow-lg">
        <div class="card-header text-center">
          <h3 style="color: #5bc0de">User Details</h3>
        </div>
        <div class="card-body">
          <div class="col image-container">
            <img
              src="{{ profile.image }}"
              alt=""
              class="float-left d-inline-block mr-5"
              style="width: 30%; border-radius: 50%"
            />
          </div>

          <div class="col mt-3 align-center">
            <div class="card-text">
              <h5>
                <i class="fa fa-user" aria-hidden="true"></i> :
                {{ profile.name }}
              </h5>
              <h5>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> :
                {{ profile.username }}
              </h5>
              <h5>
                <i class="fa fa-map-marker" aria-hidden="true"></i> :
                {{ profile.location }}
              </h5>
              <h5>
                <i class="fa fa-envelope" aria-hidden="true"></i> :
                {{ profile.email }}
              </h5>
              <h5>
                <i class="fa fa-twitter" aria-hidden="true"></i> :
                {{ profile.twitter }}
              </h5>
              
              <span class="btn btn-light mr-2"
                >Followers : {{ profile.followers }}
              </span>
              <span class="btn btn-light mr-2"
                >Following: {{ profile.following }}</span
              >
              <span class="btn btn-light mr-2"
                >Public Repo: {{ profile.repo }}</span
              >
              <br>
              <br>
              <h6>Last online:   {{profile.seen|date}} ({{profile.seen|timeCount}})</h6>
              <h6>Member Since:  {{profile.date|date}}</h6>
              <a href="{{profile.prof}}" target="_blank"><button appButtonStyle class="btn">Go to Github Profile</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="card border-info shadow-lg">
        <div class="card-header text-center">
          <h3 style="color: #5bc0de">User Repositories</h3>
        </div>

        <ul *ngFor="let item of dataService.repo" class="m-3">
          <li class="" style="text-align: left">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <a
              class="badge badge-light"
              href="{{ item.html_url }}"
              target="blank"
              style="font-size: 15px"
            >
              {{ item.name }}</a
            >
            <p style="display: inline">- {{ item.description }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
